*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #2a82c247;
}
header {
    width:100%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    height: 50px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}

.enlace-link{
  
    height: 45px;
    border-radius: 8px;
    font-family:var(--fuente-montserrat) ;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration:none;
    color:var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 80px;
 }
.container {
    text-align: center;
    padding: 100px;
}
.container-2 {
    padding: 10px;
   
}
.container-3 {
    flex: 1;
    display: flex;
    width: 100%;
   
}
.izquierda, .derecha {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.izquierda {
    width: 50%;
    background-color:var(--color-1);
    gap: 30px;
}

.derecha {
    width: 50%;
    background-color:var(--color-6);
   justify-content: center;
    border-radius: 10px; 
    padding: 15px 20px; 
    
}

h1, h2 {
    color: #333;
}
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
}
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.diagram {
    margin-top: 20px;
}
@media (max-width: 1024px) {
   header{
       width:100%;
   }
    .container .container-2 .container-3 {
        flex-direction: column; 
        align-items: center; 
    }

    .izquierda, .derecha {
        width: 100%;
    }
  
  
}

@media (max-width: 768px) {
    header{
       width:100%;
   }
    .container .container-2 .container-3 {
        flex-direction: column; 
        align-items: center;
    }
    .izquierda, .derecha {
        width: 100%; 
    }
   
    
}
